.sourcing {
  max-width: 900px;
  margin-inline: auto;
  font-size: 17px;
  line-height: 2;
  text-align: center;
  color: var(--gray-870);
  text-wrap: pretty;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
}

.benefits > * {
  height: 100%;
}

.models {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
}

.models > * {
  height: 100%;
}

@media (max-width: 1024px) {
  .benefits {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 767px) {
  .benefits,
  .models {
    grid-template-columns: minmax(0, 1fr);
    gap: 24px;
  }
}
